<div style="margin-bottom: 10px">
  <span class="user-name">
    <%= message.user.name %>
  </span>
  <li id="message" style="list-style: none;">
    <span class="user-avatar">
      <%= image_tag(message.user.avatar_url, width: 42) %>
    </span>
    <span class="list-group-item common" id="user-message-content">
      <%= message.content %>
    </span>
  </li>
</div>
