<% unless notification.solved? %>
  <span style="float: right">
    <%= link_to 'Accept', accept_join_path(notification), class: "btn btn-primary", remote: true %>
    <%= link_to 'Reject', reject_join_path(notification), class: "btn btn-default", remote: true %>
  </span>
<% end %>
