<ul class="list-group">
  <% rooms.each do |room| %>
    <li class="list-group-item">
      <%= link_to room.name, room_path(room) %>
      <% unless room.users.include?(current_user) %>
        <span style="float: right" id="join-room" class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#joinRoom"></span>
        <div class="modal fade" id="joinRoom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <%= render 'join_room', room: room %>
        </div>
      <% end %>
    </li>
  <% end %>
  <% paginate rooms %>
</ul>
