<ul class="list-group">
  <% rooms.each do |room| %>
    <li class="list-group-item">
      <%= link_to room.name, room_path(room) %>
      <% unless room.users.include?(current_user) %>
        <%= link_to room_path(room), remote: true, onclick: "confirm('Are you sure to delete?')" do %>
          <span style="float: right" class="glyphicon glyphicon-plus"></span>
        <% end %>
      <% end %>
    </li>
  <% end %>
  <% paginate rooms %>
</ul>
