<% provide(:title, "Chatting Rooms") %>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Current Rooms
      </div>
      <div class="panel-body" id="room-list">
        <%= render 'room_list', rooms: @rooms %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <a class="btn btn-primary" data-toggle="modal" data-target="#addRoom" id="addRoom-button">
      <span class="glyphicon glyphicon-plus">Create your chatting room.</span>
    </a>
    <div class="modal fade" id="addRoom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <%= render 'add_room' %>
    </div>
  </div>
</div>
