/*
Place all the styles related to the matching controller here.
They will automatically be included in application.css.
 */

.current-user-message{
  width: 75%;
  margin-left: 150px;
}

.common{
  width: 85%;
  float: right;
  margin-right: 70px;
}
